@font-face {
  font-family: 'Geena_app';
  src:  url('fonts/Geena_app.eot?4q1hzm');
  src:  url('fonts/Geena_app.eot?4q1hzm#iefix') format('embedded-opentype'),
    url('fonts/Geena_app.ttf?4q1hzm') format('truetype'),
    url('fonts/Geena_app.woff?4q1hzm') format('woff'),
    url('fonts/Geena_app.svg?4q1hzm#Geena_app') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Geena_app' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-alert-circle:before {
  content: "\e902";
}
.icon-arrow-down-circle:before {
  content: "\e900";
}
.icon-arrow-left:before {
  content: "\e901";
}
.icon-arrow-left-circle:before {
  content: "\e903";
}
.icon-arrow-right:before {
  content: "\e904";
}
.icon-arrow-right-circle:before {
  content: "\e905";
}
.icon-arrow-up:before {
  content: "\e906";
}
.icon-arrow-up-circle:before {
  content: "\e907";
}
.icon-analytics:before {
  content: "\e908";
}
.icon-notification:before {
  content: "\e909";
}
.icon-bookmark:before {
  content: "\e90b";
}
.icon-chevron-down:before {
  content: "\e90c";
}
.icon-chevron-left:before {
  content: "\e90d";
}
.icon-chevron-right:before {
  content: "\e90e";
}
.icon-chevron-up:before {
  content: "\e90f";
}
.icon-external-link:before {
  content: "\e910";
}
.icon-facebook:before {
  content: "\e911";
}
.icon-file:before {
  content: "\e912";
}
.icon-file-text:before {
  content: "\e913";
}
.icon-heart:before {
  content: "\e914";
}
.icon-help:before {
  content: "\e915";
}
.icon-home:before {
  content: "\e916";
}
.icon-image:before {
  content: "\e917";
}
.icon-instagram:before {
  content: "\e918";
}
.icon-link:before {
  content: "\e919";
}
.icon-mail:before {
  content: "\e91a";
}
.icon-explore-business:before {
  content: "\e91b";
}
.icon-map:before {
  content: "\e91c";
}
.icon-meh:before {
  content: "\e91d";
}
.icon-navigation:before {
  content: "\e91e";
}
.icon-navigation-2:before {
  content: "\e91f";
}
.icon-attach:before {
  content: "\e920";
}
.icon-printer:before {
  content: "\e921";
}
.icon-search:before {
  content: "\e922";
}
.icon-settings:before {
  content: "\e923";
}
.icon-share-2:before {
  content: "\e925";
}
.icon-thumbs-down:before {
  content: "\e926";
}
.icon-thumbs-up:before {
  content: "\e927";
}
.icon-trash-2:before {
  content: "\e928";
}
.icon-twitter:before {
  content: "\e929";
}
.icon-profile:before {
  content: "\e92a";
}
.icon-cancel:before {
  content: "\e92b";
}
