$icomoon-font-family: "Geena_app" !default;
$icomoon-font-path: "fonts" !default;

$icon-alert-circle: "\e902";
$icon-arrow-down-circle: "\e900";
$icon-arrow-left: "\e901";
$icon-arrow-left-circle: "\e903";
$icon-arrow-right: "\e904";
$icon-arrow-right-circle: "\e905";
$icon-arrow-up: "\e906";
$icon-arrow-up-circle: "\e907";
$icon-analytics: "\e908";
$icon-notification: "\e909";
$icon-bookmark: "\e90b";
$icon-chevron-down: "\e90c";
$icon-chevron-left: "\e90d";
$icon-chevron-right: "\e90e";
$icon-chevron-up: "\e90f";
$icon-external-link: "\e910";
$icon-facebook: "\e911";
$icon-file: "\e912";
$icon-file-text: "\e913";
$icon-heart: "\e914";
$icon-help: "\e915";
$icon-home: "\e916";
$icon-image: "\e917";
$icon-instagram: "\e918";
$icon-link: "\e919";
$icon-mail: "\e91a";
$icon-explore-business: "\e91b";
$icon-map: "\e91c";
$icon-meh: "\e91d";
$icon-navigation: "\e91e";
$icon-navigation-2: "\e91f";
$icon-attach: "\e920";
$icon-printer: "\e921";
$icon-search: "\e922";
$icon-settings: "\e923";
$icon-share-2: "\e925";
$icon-thumbs-down: "\e926";
$icon-thumbs-up: "\e927";
$icon-trash-2: "\e928";
$icon-twitter: "\e929";
$icon-profile: "\e92a";
$icon-cancel: "\e92b";

